<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Shadman's Personal Portfolio</title>
    <style></style>
    <link rel='stylesheet' href='/Content/app.css' />
  </head>
  <body>
    <!-- Adding Nav Bar and Image linking to all other parts index about project and contact form -->
    <nav id="toppage">

        <!-- Adding First Logo called Shadman on Top Left and linking the references to all sections -->
        <img src="images/shadlogo.png" alt="" />
        <ul>
          <li><a href="/">Home</a></li>
          <li><a href="/about">About Me</a></li>
          <li><a href="/products">Projects</a></li>
          <li><a href="/contactus">Contact Me</a></li>
        </ul>
      </nav>
    <!-- Adding HEading -->
    <h0>Check Out My Video!<h0> 
    <div class="videoshad">
    <video width="400px" height="300px" controls>
          <source src="Video/video.mp4" type="video/mp4">
          
    </video>
  </div>
            <div class="shadpic"><img src="Images/Mypic.jpg" class="Mypic" /></div>
      
      <p>Hello Everyone my name is Shadman Shan and I am 19 years old and I live in Toronto, 
        I am currently a 2nd year IT Tech Management Student @Ontario Tech University. I am passionate about the world of entrepreneurship
        and IT. As a kid growing up I have always aspired to become a project manager or a wealthy entrepreneur. In my spare time I love
        to read books and love to write poems. In addition, I also love to learn different languages. I am currently mastering Arabic and Hebrew.
        I have also worked in the field of customer services and have gotten hands on experience in working with Toronto Community Housing
        as well as planning other community based events here in the city of Toronto. I am always willing to learn and have an aptitude 
        for learning new things. If you would like to contact me please do reach out to me. I am interested in looking for coops that
        are related to the field of Project Management, Marketing and Data Analysis.</p>
      
  </body>
  <!-- Adding Paragraph -->
   <div> 
      <p1>


    </p1>

    
    </div>
    
</html>
