<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Shadman's Personal Portfolio</title>
    <style></style>
    <link rel='stylesheet' href='/Content/app.css' />
    
  </head>
  <body>
    <nav id="toppage">

        <!-- Adding First Logo called Shadman on Top Left and linking the references to all sections -->
        <img src="images/shadlogo.png" alt="" />
        <ul>
          <li><a href="/">Home</a></li>
          <li><a href="/about">About Me</a></li>
          <li><a href="/products">Projects</a></li>
          <li><a href="/contactus">Contact Me</a></li>
        </ul>
      </nav>
    <!-- adding my Contact me form on contact page -->
    <h5> Contact Me </h5>
  <form action="https://formspree.io/f/mjvqprgg" method="post">
    <input type="text" name="First" placeholder="First Name">

    <input type="text" name="Last" placeholder="Last Name">

    <input type="email" name="email" placeholder="Email Address">

    <textarea rows="6" cols="70" name="Your Message" placeholder="Please Enter Your Message"></textarea>

    <button type="Submit">Send Your Message</button>
  </form>
  


  </body>
</html>
