<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/Content/app.css' />
    <link rel='stylesheet' href='/bootstrap/dist/css/bootstrap.min.css' />
    <link rel='stylesheet' href='/@fortawesome/fontawesome-free/css/all.min.css' />
  </head>
  <body>
    
    <nav id="toppage">

      <!-- Adding First Logo called Shadman on Top Left and linking the references to all sections -->
      <img src="images/shadlogo.png" alt="" />
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/about">About Me</a></li>
        <li><a href="/products">Projects</a></li>
        <li><a href="/contactus">Contact Me</a></li>
      </ul>
    </nav>
    <div class="home_heading">
      <!-- first Heading -->
       <h1>Welcome To My Personal Page!</h1>

       <p>Hello my name is Shadman and this is my personal webpage <br> Come and navigate throughout and explore my portfolio</p>
    </div>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
  </body>
</html>
