<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Shadman's Personal Portfolio</title>
    <style></style>
    <link rel='stylesheet' href='/Content/app.css' />
  </head>
  <body>
    <nav id="toppage">

        <!-- Adding First Logo called Shadman on Top Left and linking the references to all sections -->
        <img src="images/shadlogo.png" alt="" />
        <ul>
          <li><a href="/">Home</a></li>
          <li><a href="/about">About Me</a></li>
          <li><a href="/products">Projects</a></li>
          <li><a href="/contactus">Contact Me</a></li>
        </ul>
      </nav>
    <h3> Have a Look at My Fioscope Project</h3>
    
    <html>
<head>
    <title>My Web Page</title>
</head>
<body>
  <!-- Adding hyper link -->
    <a href="https://fioscope.netlify.app/">Click Here to visit Fioscope</a>

    <div> <div class="fiopic"><img src="Images/fioscope.png" class="fiopic" /></div>




</body>

    
   </body>
   







</html>
